/* ==========================
   VARIABLES
========================== */
:root {
  --color-bg: #fefefe;
  --color-primary: #e6edf3;
  --color-accent: #00aaff;
  --color-muted: #8b949e;
  --color-red: #d63c3c;

  --shadow: 1px 1px 15px rgba(97, 94, 94, 0.2);
  --font-main: "Inter", sans-serif;
}
